<form>
  <SelectInput size="sm" mb={2}>
    <option>Option Nr. 1</option>
    <option>Option Nr. 2</option>
    <option>Option Nr. 3</option>
    <option>Option Nr. 4</option>
    <option>Option Nr. 5</option>
  </SelectInput>

  <SelectInput mb={2}>
    <option>Option Nr. 1</option>
    <option>Option Nr. 2</option>
    <option>Option Nr. 3</option>
    <option>Option Nr. 4</option>
    <option>Option Nr. 5</option>
  </SelectInput>

  <SelectInput size="lg">
    <option>Option Nr. 1</option>
    <option>Option Nr. 2</option>
    <option>Option Nr. 3</option>
    <option>Option Nr. 4</option>
    <option>Option Nr. 5</option>
  </SelectInput>
</form>
